version: '3.7'

services:
  database:
    ports:
      - "55432:5432"
  redis:
    ports:
      - "63791:6379"
  php-fpm:
    ports:
      - "9000:9000"
  nginx:
    ports:
      - "8180:443"
      - "8181:80"

